.text-align(@prefix: ~'') {
  @pre: ~'@{prefix}-';
	.@{pre}text-left    { text-align: left;    }
	.@{pre}text-right   { text-align: right;   }
	.@{pre}text-center  { text-align: center;  }
	.@{pre}text-justify { text-align: justify; }
}
.text-align() {
  .text-left    { text-align: left;    }
  .text-right   { text-align: right;   }
  .text-center  { text-align: center;  }
  .text-justify { text-align: justify; }
}
